<%- include layout.ejs %>
	  <!-- Table -->
	  <button class="btn" ng-hide="projects.length > 0" ng-click="mapOwnedProjects()">Map Projects</button>
	  <!--<button class="btn" ng-click="mapAllProjects()">Map Projects</button>-->
	  <table class="table table-bordered table-hover">
	  	<thead>
	        <tr >
	            <th data-field="id">PROJECT ID</th>
	            <th data-field="name">PROJECT NAME</th>
	            <th data-field="price">PROJECT SERVER</th>
	            <th data-field="price">PROJECT COMMAND</th>
	            <th data-field="price">PROJECT COMMAND TEST</th>
	            <th data-field="price">PROJECT STATUS</th>
	            <th data-field="price">PROJECT OPTIONS</th>
	        </tr>
    	</thead>	
	   	<tr ng-repeat="project in projects">
		  <td >{{project.project_id}}</td>
		  <td >{{project.name}}</td>
		  <td >{{project.server}}</td>
		  <td >{{project.command}}</td>
		  <td >{{project.command_test}}</td>
		  <td >{{project.command_rollback}}</td>
		  <td ><a href="/projects/edit/{{project.project_id}}" class="btn btn-primary">Edit</a>
		  	<button class="btn btn-danger" ng-click="deleteProject(project.project_id,project.name)">Delete</button></td>
		</tr>
		<tr>
			<td>Total Projects: {{projects.length}}</td>
		</tr>
	 </table>

 
<%- include footer.ejs %>